.ContactData {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 3px gray;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
}


.ContactData button {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}